.body {
    flex: .8;
    height: 100vh;
    color: white;
    padding: 30px; 
    /* background: linear-gradient(rgb(91,87,115),rgba(0,0,0,1)); */
    /* background: linear-gradient(transparent,rgba(0,0,0,.5)); */
    background: linear-gradient(rgba(0,0,0,.6),#121212);
}